<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EJS Demo</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="L:\Programs\HTML\bootstrap-3.3.7-dist\css\bootstrap.min.css">     
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/Stylesheets/style2.css">  
  <script src="L:\Programs\HTML\bootstrap-3.3.7-dist\js\bootstrap.min.js"></script>    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
    
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GardenBay</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/quote">Home</a></li>
      <li><a href="/Form">Discussions</a></li>
      <li><a href="/trend">Trends</a></li> 
        <li><a href="/get">Unique</a></li> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
        </nav>

	</header>
	<div class="clear"> </div>

  <ul class="quotes">
  <% for(var i=0; i<quotes.length; i++) {%>
    <li class="quote">
      <span><%= quotes[i].name %> - </span> 
      <span><%= quotes[i].quote %></span>
      <span><%= quotes[i].type %></span>
    </li>
  <% } %>
  </ul>

  <form action="/insert" method="POST">
   <input type="text" placeholder="name" name="name"> 
   <input type="text" placeholder="quotes" name="quotes"> 
      <input type="text" placeholder="type" name="type">
    <button type="submit">Submit</button>
  </form>
</body>